*{
    box-sizing: border-box;
    
}
body{
    background-color: #212121;
    color: white;
    margin: 0;
}

.clock{
    display: flex;
    justify-content: center;
    margin-top: 6em;
    flex-wrap: wrap;
    
}
h1{
    text-align: center;
    background-color: orangered;
    margin-top: 0;
    height: 2em;
    padding: 10px;
    font-size: 2.2em;
    font-family: cursive;
}
h2{
    text-align: center;
    font-size: 2em;
}
.date,.time,.timer{
    height: 50px;
    background-color:rgb(231, 210, 19);
    width: 7em;
    margin: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: .7rem;
    font-size: 1.5em;
    font-weight: 680;
    border: 1px groove rgb(200, 50, 0);
}

input[type = 'time']{
    border-radius: 10px;
    height: 2rem;
    width: 54%;
    font-size: 18px;
    font-weight: 600;

    
}
.start{
    border: 1px solid black;
    border-radius: 8px;
    background-color: orangered;
    color:white;
    padding: 5px;
    margin: 3px;
}