*{
    box-sizing: border-box;
    
}
body{
    background-color: #212121;
    color: white;
}
.container,.date_container,.time_container{
    display:flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    gap: 10px;
    padding-top: 50px;
    font-size: 20px;
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}
.container{
    flex-direction: row;
}
.date_container,.time_container{
    display: flex;
    flex-direction: column;
}
.header{
    background-color: orangered;
    text-align: center;
    height: 3rem;
    width: 100%;
}

.time,.date{
    background-color: rgb(216, 163, 18);
    height:3rem;
    width: 16rem;
    border: 2px solid black;
    border-radius: 10px;
    /* padding:20px 40px; */
    color: white;
    text-align: center;
    padding-top:10px;
    
}